<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1, user-scalable=0, minimal-ui">
	<title></title>
</head>
<body>
<form id='CheckSubmit' action="<?php echo WebUrl("/Home/Index/index") ?>" method="post">

身份证号码：<input type="test" name='IdCrad' id='IdCrad' value="<?php echo $IdCrad?>" size=30><input type="submit" value="查询">
<div><?php 

if (!empty($IdCradInfo)) {
	dump($IdCradInfo);
} ?>
</div>
</form>
</body>
</html>

<script type="text/javascript">

document.onkeydown=function(event){
	e = event ? event :(window.event ? window.event : null);
	if(e.keyCode==13){
		
	}
}

</script>