<html>
<meta charset="utf8" />
<body></br>
https://api-develop.migang.com
https://apitest.migang.com
https://apiproduct.migang.com
action="/test.php"
<form id="form1" action="<?php echo WebUrl("/Home/Index/mgapp")?>" method="post">
<p>测试表单                             当前提交地址：<span id="currentActionUrl" style ="color:red">https://api-develop.migang.com</span></p> 
<input type="submit" value="提交" />
提交地址：
 <input type="text" name='actionUrl' id="actionUrl" value="<?php echo !empty($InputData['actionUrl'])?$InputData['actionUrl']:"https://api-develop.migang.com"; ?>" size=50 x-webkit-speech/>
 <input type="button" onclick="changeAction()" value="更改提交地址" />
<hr/>
getInput:
<input type="text" name="getInput" value = '<?php echo !empty($InputData['getInput'])?$InputData['getInput']:""; ?>' />
web_test:
<input type="text" name="web_test" value ='<?php echo !empty($InputData['web_test'])?$InputData['web_test']:"1"; ?>' />
migangtype:
<input type="text" name="migangtype" value="<?php echo !empty($InputData['migangtype'])?$InputData['migangtype']:"0601"; ?>" />
userid
<input type="text" name="userid" value="<?php echo !empty($InputData['userid'])?$InputData['userid']:"12603"; ?>"/>
udid
<input type="text" name="udid" value="<?php echo !empty($InputData['udid'])?$InputData['udid']:"111"; ?>" />
phonenum:
<input type="text" name="phonenum" value="<?php echo !empty($InputData['phonenum'])?$InputData['phonenum']:"13910625490"; ?>" /></br>
paypassword:
<input type="text" name="paypassword"  value = "<?php echo !empty($InputData['paypassword'])?$InputData['paypassword']:"e0c10f451217b93f76c2654b2b729b85"; ?>"/>
realdata:
<input type="text" name="realdata" value="<?php echo !empty($InputData['realdata'])?$InputData['realdata']:"1"; ?>" />
type
<input type="text" name="type"  value="<?php echo !empty($InputData['type'])?$InputData['type']:"1"; ?>" />
protype
<input type="text" name="protype"  value="<?php echo !empty($InputData['protype'])?$InputData['protype']:"1"; ?>" />
proid:
<input type="text" name="proid"  value="<?php echo !empty($InputData['proid'])?$InputData['proid']:""; ?>" /><br/>
money:
<input type="text" name="money"  value="<?php echo !empty($InputData['money'])?$InputData['money']:"100"; ?>" />
bankid
<input type="text" name="bankid"  value="<?php echo !empty($InputData['bankid'])?$InputData['bankid']:"01039999"; ?>" />
banknum:
<input type="text" name="banknum" value="<?php echo !empty($InputData['banknum'])?$InputData['banknum']:"6217920601062305"; ?>" /></br>
name:
<input type="text" name="name" value="<?php echo !empty($InputData['name'])?$InputData['name']:"邓翔"; ?>" />
idcard:
<input type="text" name="idcard" value="<?php echo !empty($InputData['idcard'])?$InputData['idcard']:"360402197104020013"; ?>" />
 isbang
<input type="text" name="isbang" value="<?php echo !empty($InputData['isbang'])?$InputData['isbang']:""; ?>" />
 paytype
<input type="text" name="paytype" value="<?php echo !empty($InputData['paytype'])?$InputData['paytype']:"1"; ?>" />
act:
<input type="text" name="act" value="<?php echo !empty($InputData['act'])?$InputData['act']:""; ?>" />
investid
<input type="text" name="investid" value="<?php echo !empty($InputData['investid'])?$InputData['investid']:""; ?>" />
borrow_id
<input type="text" name="borrow_id" value="<?php echo !empty($InputData['borrow_id'])?$InputData['borrow_id']:"38"; ?>" />
paypasswd
<input type="text" name="paypasswd" value="<?php echo !empty($InputData['paypasswd'])?$InputData['paypasswd']:"111aaa"; ?>" />
payjine
<input type="text" name="payjine" value="<?php echo !empty($InputData['payjine'])?$InputData['payjine']:"100000"; ?>" />
province
<input type="text" name="province" value="<?php echo !empty($InputData['province'])?$InputData['province']:"0011"; ?>" />
city
<input type="text" name="city" value="<?php echo !empty($InputData['city'])?$InputData['city']:"1100"; ?>" />
token
<input type="text" name="token" value="<?php echo !empty($InputData['token'])?$InputData['token']:"test"; ?>" />
<br/>


<br/>
</form>
<hr/>
中文标示（可留空）:<input type="text" name="xxxx" id="paramName"  value="" />
name:<input type="text" name="xxxx" id="paramKey"  value="" />
value:<input type="text" name="xxxx" id="paramValue"  value="" />
<hr/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" id="addParam" onclick="addParam()" value="新增参数"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" onclick="document.getElementById('form1').submit()" value="提交" />
<div>状态：<?php echo $ReturnData['0']?></br>响应：<?php dump($ReturnData['1'])?></div>
<script>
var  colorArr = ['red','green','blue','orange','black','purple','#ABCABC','#ADD000','#999999'];
function addParam() {
	var Pname = document.getElementById('paramName').value;
	var Pkey = document.getElementById('paramKey').value;
	var Pvalue = document.getElementById('paramValue').value;

	//检测重复
	var checkingNode = document.getElementsByName(Pkey);
	
	if(checkingNode.length >=1 ) {
		alert('已存在');
		return false;
	}

	//检测空值
	if(Pkey == '') {
		alert('请输入post参数的name');
		return false;
	}
	if(Pvalue == '') {
		alert('请输入post参数的value');
		return false;
	}

	var form = document.getElementsByTagName('form')[0];

	var inputNode = document.createElement('input');
	inputNode.type = 'text';
	inputNode.name = Pkey;
	inputNode.value = Pvalue;
	inputNode.id = 'param_' + Pkey;
	var nameNode = document.createElement('span');

	
	var colorIndex = Math.floor(Math.random()*10);
	nameNode.style.color = colorArr[colorIndex];
	nameNode.innerText = Pname || Pkey + ':';
	form.appendChild(nameNode);
	form.appendChild(inputNode);

}

var urlArrIndex = 0;
var urlArr = ['https://api-develop.migang.com','https://apitest.migang.com','https://apiproduct.migang.com','https://web3.migang.com/ajax/payment_huoqi.php'];
var urlArrLengh = urlArr.length;
function changeAction() {
	urlArrIndex++;
	if(urlArrIndex  == urlArrLengh) {
		urlArrIndex = 0;
	}
	UrlForm = urlArr[urlArrIndex];
	var current = document.getElementById('currentActionUrl');
	var colorIndex = Math.floor(Math.random()*10);
	current.style.color = colorArr[colorIndex];
	current.innerHTML = UrlForm;
	Url = document.getElementById("actionUrl");
	Url.value=UrlForm;
}
</script>
</body></html>