<!DOCTYPE html>
<html>
<head>
    <title>MYSQL数据字典生成</title>
</head>
<body>

<?php if(!empty($DbList)){
        ?>
        <form id='submits' action="<?php echo WebUrl('/credit/Index/db')?>" method="get">
            数据库名：<select name='databases' id='databases'>
                <option value="">--请选择--</option>
                <?php 
                    foreach($DbList as $info){
                        echo "<option value='{$info['Database']}'>{$info['Database']}</opthin>";
                    }
                ?>
                
            </select>
            <input type="button" value='生成' onclick="submit_show()">
        </form>
        <?php
    }
?>

</body>
</html>
<script type="text/javascript" src="http://www.xcn.ren/Public/js/jquery.min.js"></script>
<script type="text/javascript">

function submit_show(){
    databases = $('#databases').val();
    if (databases=="") {
        alert("请填写数据库名！");
        return false;
    }
    $('#submits').submit();
}

</script>