<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> 
	addEventListener("load", function(){ 
		setTimeout(hideURLbar, 0); 
	}, false); 
	function hideURLbar(){ 
		window.scrollTo(0,1); 
	}
</script>
<meta name="keywords" content="小菜鸟" />
<link href="<?php echo $__STYLECSS__?>style.css" rel='stylesheet' type='text/css' />
<script type="text/javascript" src="<?php echo $__STYLEJS__?>jquery.min.js"></script>

</head>
<body>
<script>
	$(document).ready(function(c) {
		$('.close').on('click', function(c){
			$('.login-form').fadeOut('slow', function(c){
		  		$('.login-form').remove();
			});
		});	  
	});
	
	function submitform(){
		$('#loginform').submit();
	}

</script>

<h1>用户登录</h1>
<div class="login-form">
	<div class="close"> </div>
	<div class="head-info">
		<label class="lbl-1"> </label>
		<label class="lbl-2"> </label>
		<label class="lbl-3"> </label>
	</div>
	<div class="clear"> </div>
	<form id="loginform" action="<?php echo WebUrl('/Loan/User/UserLoginDo')?>" method="POST">
		<input type="text" class="text" name="UserName" placeholder="用户帐号">
		<div class="key"><input type="password" name="Password" placeholder="输入密码"></div>
	</form>
	<div class="signin"><input type="submit" value="Login" onclick="submitform()"></div>
</div>
<div class="copy-rights">
	<p>Copyright &copy; 2015.Company name All rights reserved.<a target="_blank" href="http://www.xcn.ren/">小菜鸟</a></p>
</div>

</body>
</html>